/* .block {
    width: 200px;
    height: 200px;
    background-color: #333;
}


.block {
    width: 200px;
    height: 200px;
    background-color: #333;
} */

:root {
    font-size: 20px;
}
*:before,
*:after {
    box-sizing: border-box;
}
p {
    margin: 0;
}
p:not(:last-child) {
    margin-bottom: 1.5rem;
}
body {
    font: 1em/1.1.618 Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    margin: 0;
    color: rgb(46, 46, 116);
    background: url(back.jpg) center /cover no-repeat fixed;
}
.card {
    min-width: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    max-height: 1500px;
    height: 900px;
    width: 300px;
    padding: 35px;
    border: 1px solid rgba(201, 134, 134, 0.25);
    border-radius: 45px;
    background-color: rgba(219, 214, 214, 0.55);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .35);
    backdrop-filter: blur (15px);
}
.card-footer {
    font-size: 0.85em;
    color: #446;
}
